.surveyContainer {
  width: 100%;
}

.surveyContainer h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

label {
  display: flex;
  align-items: center;
}

.tailwind {
  width: 192px;
}

.scss{
    width:64px;
}

input[type='radio'] {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  border: 2px solid #9b9b9b;
  border-radius: 8px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='radio']:checked {
  border: 2px solid transparent;
  background-color: #1EC9ED;
}

input[type='radio']:checked:after {
  border: 2px solid transparent;
  padding: 6px;
  content: '\2713';
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.btn{
  text-align: left;
  padding-left: 20px;
}

button{
  width: 50%;
  display: inline-block;
  margin:0 auto;
  padding:8px 16px;
  border:1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition:all ease-in-out 0.3s;
}

button:hover{
  background-color: black;
  color:white;
}
